@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
    font-family: "Poppins", sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1180px;
}
.imgg{
    height: 90px;
    margin-bottom: 2px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 34px;
    list-style: none;
}
button{
    all: unset;
    padding: 6px 16px;
    height: 32px;
    background: red;
    color: white;
    font-weight: 500;
}
.hero{
    display: flex;
    align-items: center;
    height: calc(100vh - 90px);
}
.hero h1{
    font-size: 100px;
    font-weight: 800;
    line-height: 102px;
}
.hero p{
    font-weight: 600;
    color: gray;
    /* margin-bottom: 20px; */
    max-width:400px;
}
.hero-btn{
    display: flex;
    gap:40px;
}
.hero-btn button{
    font-size:18px;
}
.hero-img img{
    height: 50px;
    width: 50px;
}
.secondary_button{
    background:transparent;
    color:black;
    border:1px solid;
}
.hero-content{
    display:flex;
    flex-direction:column;
    gap:36px;
    /* margin-bottom:10px; */
}